@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --cu-orange: #e84a00;
  --cu-blue: #13294b;
}
